img {
    float: left;
    height: 150px;
}

#Padre {
    padding-left: 200px;
}

#form {
    display: block;
    height: 10px;
}

label {
    display: inline-block;
    width: 125px;
}

input, select {
    width: 80%;
}

#div2 label {
    display: inline-block;
    width: 100px;
    padding-left: 125px;
}

#div2>select {
    width: 70%;
}

#div2>input {
    width: 70%;
}

table, th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid rgb(182, 180, 180);
    border-collapse: collapse;
    padding: 0.3em;
}

td {
    height: 5px;
}

th {
    text-align: center;
}

#td2 {
    height: 50px;
}

#div3 {
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
}

table {
    width: 80%;
}

#inpu {
    height: 100px;
}